* {
    font-family: 'Permanent Marker', cursive;
}
h1 {
    text-align: center;
    color: yellow;
}
.jumbotron {
    background-color: red;
}
body {
    background-color: yellow;
}
.indexbody {
    color: red;
}